.nav-bar{
    background-color: blue;
}
.nav ul{
    list-style-type: none;
    float: right;
    color: white;
}
 li{
    display: inline-block;
    margin: 10px;
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
}
.about-us{
background-color: grey;
}
.about-us.section img{
    display: flex;
    gap: 20px;
    
}
.about-us.section p{
    display: flex;
    float:left
    
}
.img{
    
    display: flex;
    gap: 20px;
}
.form{
    align-content: center;
}

.but{
    background-color: aqua;
    border:1px solid rgb(10, 171, 171);
}
.but:hover{
    background-color:blueviolet;
}
.but2{
    background-color: red;
    border: 1px solid rgb(129, 8, 8);
}
.but2:hover{
    background-color: brown;
}
.footer{
    background-color: blue;
    padding:100px
}
.footer h2{
    text-align: center;
    color: white;
}